<header class="wrapper">
    <div class="site-header">
        <a class="site-header-title" rel="author"  href="{{ '/' | relative_url}}">{{ site.title | | escape }}</a>

        <div class="site-header-github">
            <a
            class="site-header-github-link"
            href="https://github.com/MrRowey/FAF-Patchnotes-Site"
            target="_blank"
            title="View on GitHub">
                <span class="icon-github"></span>
            </a>

        </div>
    </div>
</header>