energy {
    background: url(/images/icons/energy.png) no-repeat scroll 0 0 transparent;
}

mass {
    background: url(/images/icons/energy.png) no-repeat scroll 0 0 transparent;
}

time {
    background: url(/images/icons/energy.png) no-repeat scroll 0 0 transparent;
}

health {
    background: url(/images/icons/health.png) no-repeat scroll 0 0 transparent;
    width: 20px;
    height: 20px;
    
}
