@import '../style/root.css';
@import '../style/components/card.css';
@import '../style/components/images.css';
@import '../style/components/video.css';
@import '../style/components/button.css';

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.Grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr .75fr;
    grid-gap: 20px;
    margin: 10px;
}

.Content {
    grid-column: 2 ;
}

.FlexboxContainer {
    display: flex;
    flex-direction: row;
}

.FlexGrow1 {
    flex-grow: 1;
}

.FlexGrow4 {
    flex-grow: 4;
}

#date {
    text-align: right;
    padding-right: 10px;
}

.Card a {
    color: var(--Link-Card);
    text-decoration: underline;
}

.Card a:hover {
    color: var(--Link-Hover);
}

.Intro p {
    color: var(--Text);
}

.Sidebar {
    grid-column: 3;
    position: relative;
}

.Sidebar h2 a {
    color: var(--Text);
    text-decoration: none;
}

.IconSidebar {
    position: sticky;
    top: 20px;
    background: var(--IconGridBackground);
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    color: var(--Text);
    text-align: justify;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
}

.IconSidebarSpace {
    grid-column: 1 / 4;
    height: 20px;
}

.IconSidebarTitle {
    grid-column: 1 / 4;
    text-align: center;
    margin: 0;
}

.IconSidebarSubtitle {
    grid-column: 1 / 4;
    text-align: left;
    margin: 0;
}

.IconSidebarSubgrid {
    display: grid;
    grid-template-columns: .15fr .15fr .15fr .15fr;
    row-gap: 5px;
    column-gap: 5px;
}

.IconSidebarSubgrid img {
    width: 50px;
    height: 50px;
}

.IconGrid {
    position: sticky;
    top: 20px;
    background: var(--IconGridBackgroundG);
    padding: 5px 20px 20px 20px;
    color: var(--Text);
    text-align: justify;
    border-radius: 15px;
}

.IconGrid h2 {
    margin: 10px 0 0 0;
}

.IconGrid img {
    width: 45px;
    height: 45px;
}

.BackToTop {
  text-align: center;  
  border-radius: 50%;
}
