@import './root.css';

video {
    width: 900px;
    height: 100%;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr .75fr;
    grid-gap: 20px;
    margin: 10px;
}

.content {
    grid-column: 2 ;
}

.card a {
    color: var(--Link-Card);
    text-decoration: underline;
}

.card a:hover {
    color: var(--Link-Hover);
}

.intro p {
    color: var(--Primary-Text-light);
}

.sidebar {
    grid-column: 3;
    position: relative;
}

.sidebar h2 a {
    color: var(--Primary-Text);
    text-decoration: none;
}

.iconSidebar {
    position: sticky;
    top: 20px;
    background: var(--Primary-IconGrid-BG);
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    color: var(--Primary-Text);
    text-align: justify;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
}

.iconSidebarBlank {
    grid-column: 1 / 4;
    height: 20px;
}

.iconSidebarTitle {
    grid-column: 1 / 4;
    text-align: center;
    margin: 0;
}

.iconSidebarSubtitle {
    grid-column: 1 / 4;
    text-align: left;
    margin: 0;
}

.iconSidebarSubgrid {
    display: grid;
    grid-template-columns: .15fr .15fr .15fr .15fr;
    row-gap: 5px;
    column-gap: 5px;
}

.iconSidebarSubgrid img {
    width: 50px;
    height: 50px;
}



.icongrid {
    position: sticky;
    top: 20px;
    background: var(--Primary-IconGrid-BG);
    padding: 5px 20px 20px 20px;
    color: var(--Primary-Text);
    text-align: justify;
    border-radius: 15px;
}

.icongrid h2 {
    margin: 10px 0 0 0;
}

.icongrid img {
    width: 45px;
    height: 45px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.backtotop {
  text-align: center;  
  border-radius: 50%;
}

.backtotop a {
    text-decoration: none;
    color: var(--Seconday-Text);
}

.toptext {
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 16px;
    color: var(--Primary-Text);
    padding: 10px;
    margin: 10px;
}

footer a {
    color: var(--Link);
    text-decoration: none;
}

footer a:hover {
    color: var(--Link-Hover);
    text-decoration: none;
}