/* Importing Google Font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* Declating Default Colors */

:root{

    /* Primary Backgrounds */
    --Primary-BG: #333;
    --Primary-Dark-BG: #222;
    --Primary-Light-BG: #666;

    /* Seconday Backgrounds*/
    --Secondary-BG: #fff;

    /* Primary Grid Background*/
    --Primary-Grid-BG: rgba(51,51,51,0.85);

    /* Primary IconGrid Background*/
    --Primary-IconGrid-BG: #4d5c50;

    /* Primary Text Color */
    --Primary-Text: #fff;
    --Primary-Text-light: #ddd;

    /* Secondary Text Color */
    --Secondary-Text: #000;

    /* Primary Card Color */
    --Primary-Card: #fff;

    /* Tags */
    --buff: rgba(86,167,39,.7);
    --nerf: rgba(172,31,31,.7);
    --stats: rgba(0,0,0,.6);
    --removed: rgba(190,92,0,.6);
    --added: rgba(31,52,172,.7);

    /* Link Colors */
    --Link: #fff;
    --Link-Card: #000;
    --Link-Unvisited: #87cefa;
    --Link-Visited: #dc143c;
    --Link-Hover: #c2a732;

    /* Other */
    --Strike: #888; 
    --Footer: #666;
}

/* Base Elemets */

body {
    background: var(--Primary-BG);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--Primary-Text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {font-size: 30px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}

s{
    color: var(--Strike);
}

img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

a {
    color: var(--Link-Unvisited);
    text-decoration: none;
}
a:visited {
    color: var(--Link-Visited);
}
a:hover {
    color: var(--Link-Hover);
}
a:active {
    color: var(--Link-Active);
}

video {
    width: 900px;
    height: 100%;
}