
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="FAF Beta Balance Patchnote page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FAF Beta Balance</title>
    <link rel="stylesheet" href="./style/balance.css" />
  </head>
  <body>
    <main class="grid">
      <div class="content">

        <div id="intro">
          <h1>FAF Beta</h1>
          <p>Welcome to the FAF Beta Balance patchnotes</p>
          <p>The changes listed here are all subject to change.</p>
          <p>Disclamer: Changes here may be broken or have unforeseen side effects if you encounter anything please report it to the balance team on the <a href="https://discord.gg/pK94Dk9hNz"> Game Bug Reporting </a> Channel on the FAF Discord</p>
          <p>All the changes that are currently listed as part of fafbeta allow us to evaluate the new balance in actual games.</p>
          <p>We will keep this page as up-to-date as possible and once we feel the changes are ready for the main game in beta we will push the next balance patch.</p>
          <h4>-- Balance Team</h4>
          <hr>
        </div>

        <h2>Land</h2>

        <div id="land"> 

            <div id="spirit" class="card">
              <h3><img src="/images/spirit.png"> Spirit</h3>
              <p>
                Brings the Spirit's speed in line with the other t1 scouts. This
                plays a small role in reducing the effectiveness of tree breaking as
                well.
              </p>
              <ul>
                <li>Max Speed: <strike>5</strike> → 4.6</li>
                <li>Max Acceleration: <strike>5</strike> → 4.6</li>
              </ul>
            </div>

            <div id="rangebots" class="card">
              <h3>Mongoose and Hoplite</h3>
              <p>
                The following changes make these units better at staying on target while
                moving.
              </p>

              <img src="/images/mongoose.png"><b><u>Mongoose</u></b>
              <ul>
                <li>Turn Rate: <strike>90</strike> → 80</li>
                <li>Rack Salvo Charge Time: <strike>2</strike> → 1</li>
                <li>Rack Salvo Reload Time: <strike>1</strike> → 2</li>
                <li>Turret Yaw Speed: <strike>80</strike> → 90</li>
              </ul>

              <img src="/images/hoplite.png"><b><u>Hoplite</u></b>
              <ul>
                <li>Turn Rate: <strike>90</strike> → 80</li>
                <li>Muzzle Velocity: <strike>15</strike> → 20</li>
                <li>Turret Yaw Speed: <strike>60</strike> → 130</li>
              </ul>
            </div>     

            <div id="deceiver" class="card">
              <h3> <img src="/images/deceiver.png"> Deceiver </h3>

              <p> This buff is to counter the vision change to ensure that the Deceiver is not obsolete. </p>

              <ul>
                <li>Stealth Range: <strike>20</strike> → 23</li>
              </ul>

            </div>

            <div id="AmphibTanks" class="card">

              <div id="t2amphib">
                <h3>Tech 2 Amphibious Tanks </h3>
              
                <p>This change is to go along with the vision change to ensure their base vision range is at the same range as their weapon before the +15% is added.</p>

                <p>Also Wagner Topedoes get a buff.</p>
              
                <img src="/images/riptide.png"><b><u>Riptide</u></b>
                <ul>
                  <li>Vision Radius: <strike>15</strike> → 18</li>
                </ul>

                <img src="/images/wagner.png"><b><u>Wagner</u></b>
                <ul>
                  <li>Vision Radius: <strike>15</strike> → 22</li>
                  <li>Water Vision Radius: <strike>20</strike> → 22</li>
                  <li>Torpedo Damage: <strike>15</strike> → 30</li>
                </ul>
              
                <img src="/images/yenzyne.png"><b><u>Yenzyne</u></b>
                <ul>
                  <li>Vision Radius: <strike>15</strike> → 24</li>
                </ul>
              
                <img src="/images/blaze.png"><b><u>Blaze</u></b>
                <ul>
                  <li>Vision Radius: <strike>15</strike> → 20</li>
                </ul>
              </div>

              <div id="t3amphib">
                <br>
                <h3> Tech 3 Amphibious Tanks </h3>
              
                <p> Based on a Pull Request by Basilisk3 we have decided to buff the torps and anti-torps of T3 amphibious units. This will make them a bit more viable when they're underwater</p>
              
                <img src="/images/brick.png"><b><u>Brick</u></b>
                <ul>
                  <li>Damage: <strike>8</strike> → 15</li>
                  <li>Anti Torp Flare RoF: <strike>0.065</strike> → 0.05</li>
                </ul>
              
                <img src="/images/othuum.png"><b><u>Othuum</u></b>
                <ul>
                  <li>Damage: <strike>30</strike> → 60</li>
                </ul>
              </div>

            </div>

            <div id="mml" class="card">
              <h3><img src="/images/spearhead.png"> Mobile Missile Launchers and Spearhead </h3>

              <p>MML and Spearhead missiles are much faster now. This should help them against recent TMD buffs and help hit mobile units</p>

              <ul>
                <li>increased Missle Speed by 1.75x</li>
              </ul>

            </div>

            <div id="Experimentals" class="card">
              
              <h3>Land Experimentals</h3>

              <div id="scathis">
                <h3><img src="/images/scathis.png"> Scathis</h3>

                <p>
                  This unit was far more inaccurate than desired or indicated by the
                  reticle. Some shots still go outside the reticle but with this
                  change this is greatly reduced. Increasing its accuracy
                 any further buffed its performance against shielded bases too much.
                </p>

                <ul>
                  <li>Fixed Spread Radius: <strike>80</strike> → 70</li>
                </ul>
              </div>

              <div id="gc">
                <h3><img src="/images/galacticcolossus.png"> Galactic Colossus</h3>
              
                <p>
                  Removal of Omni as this only served as a hard counter to Cybran Cloak. 
                </p>
                <ul>
                  <li>Omni removed</li>
                </ul>
              </div>
            </div>

        </div>

        <h2>Navy</h2>
        
        <div id="navy">

          <div id="frigate" class="card">
            <h3>Frigates</h3>
            <p> The range decrease and cost increase to Cybran frigates combined to too much of a nerf. The exact opposite is true for Aeon frigates, so we are revoking the cost change for both. </p>

            <img src="/images/aeonfrigiate.png"><b><u>Aeon</u></b>
              <ul>
                <li>Energy Cost: <strike>2800</strike> → 2900</li>
                <li>Mass Cost: <strike>280</strike> → 290</li>
                <li>Build Time: <strike>1400</strike> → 1450</li>
              </ul>
            <img src="/images/cybranfrigate.png"><b><u>Cybran</u></b>
              <ul>
                <li>Energy Cost: <strike>2600</strike> → 2500</li>
                <li>Mass Cost: <strike>260</strike> → 250</li>
                <li>Build Time: <strike>1300</strike> → 1250</li>
              </ul>
          </div>

          <div id="sub" class="card">
            <h3>Tech 1 Subs</h3>
            
            <p> All T1 subs are getting a survivability increase which allows subs to take 2 hits from torp bombers. This does not apply to Sera, but they have anti torp which will accomplish the same result.</p>
            
            <img src="/images/aeont1sub.png"><b><u>Aeon</u></b>
              <ul>
                <li>HP: <strike>550</strike> → 775</li>
              </ul>
            <img src="/images/ueft1sub.png"><b><u>UEF</u></b>
              <ul>
                <li>HP: <strike>600</strike> → 800</li>
              </ul>
            <img src="/images/cybrant1sub.png"><b><u>Cybran</u></b>
              <ul>
                <li>HP: <strike>525</strike> → 775</li>
              </ul>
            <img src="/images/serat1sub.png"><b><u>Seraphim</u></b>
              <ul>
                <li>HP: <strike>400</strike> → 550</li>
              </ul>
          </div>

          <div id="shard" class="card">
            <h3><img src="/images/shard.png"> Shard</h3>

            <p> The Shard is rarely used due to low damage. This change is to make it more viable.</p>

              <ul>
                <li>Build Time: <strike>800</strike> → 600</li>
                <li>Damage: <strike>6</strike> → 7.5</li>
              </ul>
          </div>

          <div id="destroyer" class="card">
            <h3><img src="/images/salem.png"> Cybran Destroyer</h3>
  
            <p> We increased the range for the Salem before but found it to still be lacking considering the nerf to their frigates. This should help bring their T2 navy in line with the other factions.</p>

            <ul>
              <li>Max Range: <strike>80</strike> → 85</li>
            </ul>
          </div>

          <div id="cruiser" class="card">
            <h3>Cruisers</h3>
          
            <p> All cruisers are getting increased HP and decreased range. This change will make sending torps directly into cruisers much less efficient, but at the same time reduce cruiser AA coverage. Instead picking off ships out of range will be favored. Non-Aeon TMD is buffed to deal with a larger number of missiles.</p>

            <img src="/images/aeoncruiser.png"><b><u>Aeon</u></b>
            <ul>
              <li>HP: <strike>3250</strike> → 3850</li>
              <li>AA Range: <strike>75</strike> → 60</li>
            </ul>

            <img src="/images/uefcruiser.png"><b><u>UEF</u></b>
            <ul>
              <li>HP: <strike>2500</strike> → 3100</li>
              <li>AA Range: <strike>75</strike> → 60</li>
              <li>TMD:</li>
                <ul>
                  <li>Range: <strike>50</strike> → 60</li>
                  <li>Rate of Fire (RoF): <strike>0.5</strike> → 0.25</li>
                </ul>
            </ul>

            <img src="/images/cybrancruiser.png"><b><u>Cybran</u></b>
            <ul>
              <li>HP: <strike>3000</strike> → 3600</li>
              <li>AA Range: <strike>75</strike> → 60</li>
              <li>TMD:</li>
                <ul>
                  <li>Range: <strike>50</strike> → 60</li>
                  <li>Rate of Fire (RoF): <strike>0.5</strike> → 0.25</li>
                </ul>
            </ul>

            <img src="/images/seracruiser.png"><b><u>Seraphim</u></b>
            <ul>
              <li>HP: <strike>2400</strike> → 3000</li>
              <li>AA Range: <strike>65</strike> → 55</li>
              <li>TMD:</li>
                <ul>
                  <li>Range: <strike>50</strike> → 60</li>
                  <li>Rate of Fire (RoF): <strike>0.5</strike> → 0.25</li>
                </ul>
            </ul>
          </div>

          <div id="cooper" class="card">
            <h3><img src="/images/cooper.png"> Cooper</h3>

            <p> The Coopers will be getting a tight formation so they cover each other better with their torp defence. Additionally, they get multiple stat changes to get an overall buff.</p>

            <ul>
              <li>Energy Cost: <strike>7200</strike> → 6480</li>
              <li>Mass Cost: <strike>900</strike> → 810</li>
              <li>Build Time: <strike>3600</strike> → 3240</li>
              <li>Footprint: Made Cooper Fit tighter and better in formation</li>
              <li>Max Range: <strike>50</strike> → 55</li>
              <li>Water Vision: <strike>45</strike> → 55</li>
            </ul>
          </div>

          <div id="carrier" class="card">
            <h3>Aircraft Carriers</h3>
            <p> The increased Vision and Water Vision Radii will allow carriers to detect subs and provide intel to their fleets. The Aeon and Seraphim carriers get TMD to let then deal with missiles. The existing Cybran carrier TMD gets the same buff as on their cruiser</p>

            <img src="/images/cybrancarrier.png"><b><u>Cybran</u></b>
            <ul>
              <li>Water Vision Radius: <strike>36</strike> → 100</li>
              <li>Vision Radius: <strike>85</strike> → 100</li>
              <li>TMD:</li>
                <ul>
                  <li>Range: <strike>50</strike> → 60</li>
                  <li>Rate of Fire (RoF): <strike>0.5</strike> → 0.25</li>
                </ul>
            </ul>

            <img src="/images/aeoncarrier.png"><b><u>Aeon</u></b>
            <ul>
              <li>Water Vision Radius: <strike>36</strike> → 100</li>
              <li>Vision Radius: <strike>85</strike> → 100</li>
              <li>Added TMD</li>
            </ul>

            <img src="/images/seracarrier.png"><b><u>Seraphim</u></b>
            <ul>
              <li>Water Vision Radius: <strike>36</strike> → 100</li>
              <li>Vision Radius: <strike>85</strike> → 100</li>
              <li>Added TMD</li>
            </ul>
          </div>

          <div id="battleship" class="card">
            <h3>Battleships and Battlecruiser</h3>

            <p>The TMD range of Battleships and the Battlecruiser has been nerfed to make them less self-sufficient and push them to use Cruisers and Aircraft Carriers for adequate TMD coverage.</p>

            <img src="/images/battleship.png"><b><u>Battleships</u></b>
            <ul>
              <li>TMD Range: <strike>50</strike> → 40</li>  
              <li>Sera Speed: <strike>3</strike> → 3.2</li>
              <li>Cybran Speed: <strike>3</strike> → 3.2</li>
            </ul>

            <img src="/images/battlecruiser.png"><b><u>Battlecruiser</u></b>
            <ul>
              <li>TMD Range: <strike>50</strike> → 40</li>
            </ul>
          </div>

          <div id="navalexperimentals" class="card">
            <h3>Naval Experimentals</h3>

            <div id="atlantis">
              <h3><img src="/images/atlantis.png"> Atlantis</h3>

              <p> Atlantis has long been overdue for a buff. The speed increase improves its micro ability while the size decrease makes ground firing less effective. </p>

              <ul>
                <li>Uniform Scale: <strike>0.1</strike> → 0.09</li>
                <li>Max Speed: <strike>2.8</strike> → 3.3</li>
                <li>SelectionSizeX: <strike>1.8</strike> → 1.62</li>
                <li>SelectionSizeZ: <strike>12.8</strike> → 11.52</li>
                <li>SizeX: <strike>2.8</strike> → 2.52</li>
                <li>SizeY: <strike>2.3</strike> → 2.07</li>
                <li>SizeZ: <strike>20</strike> → 18</li>
              </ul>
            </div>

            <div id="tempest"> 
              <h3><img src="/images/tempest.png"> Tempest</h3>

              <p>This is to improve the handling of the Tempest.</p>

              <ul>
                <li>Back Up Distance: <strike>0</strike> → 45</li>
                <li>Max Speed Reverse: <strike>0</strike> → 2.5</li>
                <li>Rotate On Spot: <strike>true</strike> → false</li>
                <li>Turn Rate: <strike>30</strike> → 35</li>
              </ul>
            </div>

          </div>
        
        </div>

        <h2>Air</h2>

        <div id="air">

          <div id="elevations" class="card">
            <h3><img src="/images/air.png"> Air Elevations</h3>

            <p> Generally, lower flying targets are easier to hit with ground-to-air weapons. However, if they are brought too low, they can fire at shields in the case of interceptors or inside shields in the case of bombers. Therefore T2 planes are brought to an elevation just above T2 shields and T3 planes are brought to an elevation just above T3 shields.</p>

            <ul>
              <li>T1 Scout: <strike>20</strike> → 16</li>
              <li>T1 Interceptor: <strike>18</strike> → 14</li>
              <li>T1 Bomber: <strike>18</strike> → 14</li>
              <li>T2 Combat Fighter: <strike>20</strike> → 18</li>
              <li>T3 Scout: <strike>25</strike> → 22</li>
              <li>T3 Air Superiority: <strike>20</strike> → 18</li>
              <li>T3 Strategic Bomber: <strike>14</strike> → 18</li>
              <li>T3 Torpedo Bomber: <strike>25</strike> → 18</li>
              <li>T4 CZAR: <strike>25</strike> → 20</li>
            </ul>
          </div>

          <div id="transports" class="card">
            <h3>Transports</h3>
            <p> Adjust the movement of air transports to increase consistency and responsiveness. This means that placing unload orders on the fly will not cause a huge delay in unloading. It also makes transports quite easy to micro, so we are giving interceptors similar changes to help them against the new transports. </p>

            <div id="t1transport">
              <h3><img src="/images/serat1transport.png">Tech 1 Transports</h3>

              <ul>
                <li>Elevation: 8</li>
                <li>AutoLandTime: <strike>1</strike> → 2</li>
                <li>BankFactor: <strike>0.1</strike> → 0.2</li>
                <li>BankForward: <strike>False</strike> → True</li>
                <li>KMove: <strike>0.95</strike> → 2</li>
                <li>KTurn: <strike>1</strike> → 2</li>
                <li>KTurnDamping: <strike>4</strike> → 2</li>
                <li>LiftFactor: <strike>8</strike> → 2</li>
                <li>TransportHoverHeight: <strike>6</strike> → 4</li>
                <li>CollisionOffsetY: <strike>0</strike> → -0.25</li>
              </ul>

            </div>

            <div id="t2transport">
              <h3><img src="/images/cybrant2transport.png">Tech 2 Transports</h3>

              <ul>
                <li>Elevation: 9</li>
                <li>AutoLandTime: <strike>1</strike> → 2</li>
                <li>BankFactor: <strike>0.1</strike> → 0.2</li>
                <li>BankForward: <strike>False</strike> → True</li>
                <li>KMove: <strike>0.95</strike> → 2</li>
                <li>KTurn: <strike>1</strike> → 2</li>
                <li>KTurnDamping: <strike>4</strike> → 2</li>
                <li>LiftFactor: <strike>8</strike> → 2</li>
                <li>TransportHoverHeight: <strike>6</strike> → 4</li>
                <li>CollisionOffsetY: <strike>0.1</strike> → -0.25</li>
                </ul>
            </div>

            <div id="t3transport">
              <h3><img src="/images/ueft3transport.png">Tech 3 Transports</h3>

              <ul>
                <li>T3 Elevation: 10</li>
                <li>AutoLandTime: <strike>1</strike> → 2</li>
                <li>BankFactor: <strike>0.1</strike> → 0.2</li>
                <li>BankForward: <strike>False</strike> → True</li>
                <li>KLift: <strike>1</strike> → 2</li>
                <li>KLiftDamping: <strike>1.25</strike> → 2</li>
                <li>KMove: <strike>0.8</strike> → 2</li>
                <li>KTurn: <strike>1</strike> → 2</li>
                <li>KTurnDamping: <strike>4</strike> → 2</li>
                <li>LiftFactor: <strike>7</strike> → 4</li>
                <li>CollisionOffsetY: <strike>-0.1</strike> → -0.25</li>
              </ul>
            </div>

          </div>

   	      <div id="intercepter" class="card">
            <h3> Interceptors and SwiftWind </h3>

              <p> This change helps balance out the transport changes. This also makes Interceptors feel more responsive and better to micro. </p>

              <div id="t1intie">
                <h3><img src="/images/t1inti.png"> Tech 1 Interceptors</h3>
              
                <ul>
                  <li>AutoLandTime: <strike>1</strike> → 2</li>
                  <li>BankFactor: <strike>2</strike> → 3</li>
                  <li>BreakOffDistance: <strike>5</strike> → 10</li>
                  <li>CombatTurnSpeed: <strike>1.5</strike> → 1.7</li>
                  <li>KLift: <strike>3</strike> → 2</li>
                  <li>KLiftDamping: <strike>2.5</strike> → 2.0</li>
                  <li>KMove: <strike>1</strike> → 1.5</li>
                  <li>LiftFactor: <strike>7</strike> → 5</li>
                  <li>StartTurnDistance: <strike>5</strike> → 10</li>
                  <li>TurnSpeed: <strike>1.5</strike> → 1.7</li>
                </ul>

              </div>

              <div id="swiftwind">
                <h3><img src="/images/swiftwind.png"> Swift Wind</h3>

                <ul>
                  <li>BankFactor: <strike>2</strike> → 3</li>
                  <li>CombatTurnSpeed: <strike>1.5</strike> → 1.8</li>
                  <li>KLift: <strike>3</strike> → 2</li>
                  <li>KLiftDamping: <strike>2.5</strike> → 2.0</li>
                  <li>KMove: <strike>1</strike> → 1.5</li>
                  <li>LiftFactor: <strike>7</strike> → 5</li>
                  <li>StartTurnDistance: <strike>5</strike> → 10</li>
                  <li>TurnSpeed: <strike>1.5</strike> → 1.8</li>
                </ul>
              </div>

          </div>	 

          <div id="acudrone" class="card">
            <h3><img src="/images/acudrone.png">ACU and SCU Drones</h3>

            <p>Updated the ACU and SCU Drone HP to 50, the same as Kennel drones</p>

            <ul>
              <li>Health: <strike>6</strike> → 50</li>
            </ul>
          </div>

          <div id="drones" class="card">
            <h3><img src="/images/kenneldrone.png"> Drones</h3>

            <p> Gives all drones the ability to reclaim on a patrol move. This Dose Not Include ACU or SCU Drones</p>
          </div>

          <div id="mercy" class="card">
            <h3><img src="/images/mercy.png">Mercy</h3>
            
            <p> Based on <a href="https://forum.faforever.com/topic/1834/ideas-for-mercy-changes">Deribus's suggestion</a> from a while ago, this changes the Mercy's role from a sniping unit to a damage over time AOE unit. </p>

            <p> We have tweaked the setting a bit more and added a reticule so you're able to see the area of effect when Mercy is fired </p>

            <ul>
              <li>Max Speed: <strike>10</strike> → 13</li>
              <li>Min Speed: <strike>10</strike> → 3</li>
              <li>Turning Speed: <strike>1.5</strike> → 1</li>
              <li>Health: <strike>10</strike> → 90</li>
              <li>VisionRadius: <strike>15</strike> → 10</li>
              <li>Elevation: <strike>18</strike> → 12</li>
              <li>Damage: <strike>2400</strike> → 79 </li>
              <li>DamageRadius: <strike>3</strike> → 7.5</li>
              <li>Damage Ticks: <strike>0</strike> → 20</li>
              <li>Damage Time: <strike>0</strike> → 10</li>
              <li>Fuel Duration: <strike>110</strike> → 400</li>
              <li>Added Vision Projectile on impact</li>
            </ul>
          </div>

          <div id="torps" class="card">
            <h3><img src="/images/torps.png"> Torpedo Bombers</h3>

            <p> All of the Tech 2 Torpedo Bombers now have the same number of projectiles. This is important as they are vulnerable to anti-torps now.</p>

            <b><u>UEF</u></b>
            <ul>
              <li>Projectile Count: <strike>2</strike> → 3</li>
            </ul>

            <b><u>Cybran</u></b>
            <ul>
              <li>Projectile Count: <strike>2</strike> → 3</li>
            </ul>
          </div>

          <div id="strats" class="card">
            <h3><img src="/images/cybranstrat.png"> Strategic Bombers</h3>

            <p> A slight decrease in cost and build time but a large increase in reload time. This should prevent early bombers from 1-passing so many targets in quick succession.</p>

            <ul>
              <li>Mass Cost: <strike>2100</strike> → 1750</li>
              <li>Energy Cost: <strike>144k</strike> → 180k</li>
              <li>Buildtime: <strike>9.6k</strike> → 12k</li>
              <li>Rate of Fire: <strike>5s</strike> → 8s</li>
            </ul>
          </div>
        </div>

        <h2>Structures</h2>

        <div id="structure">
        
          <div id="torpdef" class="card">
            <h3>Torpedo Defences</h3>

            <p> Decreases the volatility of T1 navy and makes getting locked out of the water at T1 harder. </p>

            <div id="t1torpdef">
              <h3>Tech 1 Torpedo Defence</h3>

              <img src="/images/ueft1torpdef.png"><b><u>UEF</u></b>
              <ul>
                <li>Damage: <strike>150</strike> → 180</li>
              </ul>

              <img src="/images/aeont1torpdef.png"><b><u>Aeon</u></b>
              <ul>
                <li>Damage: <strike>150</strike> → 180</li>
              </ul>

              <img src="/images/cybrant1torpdef.png"><b><u>Cybran</u></b>
              <ul>
                <li>Damage: <strike>25</strike> → 30</li>
              </ul>

              <img src="/images/serat1torpdef.png"><b><u>Seraphim</u></b>
              <ul>
                <li>Damage: <strike>100</strike> → 120</li>
              </ul>

            </div>

            <div id="t2torpdef">
              <h3>Tech 2 Torpedo Defence</h3>

              <img src="/images/ueft2torpdef.png"><b><u>UEF</u></b>
              <ul>
                <li>Damage: <strike>150</strike> → 180</li>
              </ul>

              <img src="/images/aeont2torpdef.png"><b><u>Aeon</u></b>
              <ul>
                <li>Damage: <strike>150</strike> → 180</li>
              </ul>

              <img src="/images/cybrant2torpdef.png"><b><u>Cybran</u></b>
              <ul>
                <li>Damage: <strike>50</strike> → 60</li>
              </ul>

              <img src="/images/serat2torpdef.png"><b><u>Seraphim</u></b>
              <ul>
                <li>Damage: <strike>201</strike> → 242</li>
              </ul>

            </div>
          </div>

          <div id="harms" class="card">
            <h3><img src="/images/harms.png"> HARMS</h3>

            <p> We are decreasing the harm caused by HARMS by removing the stealth and reducing both their HP and Range. </p>

            <ul>
              <li>Removed Personal Stealth</li>
              <li>HP: <strike>11000</strike> → 9000</li>
              <li>Build Time: <strike>4097</strike> → 4100</li>
              <li>Max Radius: <strike>80</strike> → 70</li>
            </ul>
         </div> 
        
          <div id="sonar" class="card">
            <h3>Sonar</h3>

            <p> The current range of T1/T2 sonar is lacking compared to T1/T2 radar considering the speed difference between land and navy units. T1 and T2 sonar will be getting a range buff to make them more useful while giving them more expensive to build and run to balance them out. </p>

            <p>The Cybran Tech 3 Sonar has also gotten a nerf to its stealth field and received a small E drain cost reduction.</p>

            <div id="t1sonar">
              <h3>Tech 1 Sonar</h3>

              <img src="/images/aeont1sonar.png"><b><u>Aeon</u></b>
                <ul>
                  <li>Health: <strike>500</strike> → 400</li>
                  <li>Energy Cost: <strike>544</strike> → 1275</li>
                  <li>Mass Cost: <strike>64</strike> → 150</li>
                  <li>Build Time: <strike>80</strike> → 127.5</li>
                  <li>Maintenace Cost: <strike>10</strike> → 20</li>
                  <li>Sonar Radius: <strike>115</strike> → 160</li>
                </ul>

              <img src="/images/ueft1sonar.png"><b><u>UEF</u></b>
                <ul>
                  <li>Health: <strike>600</strike> → 400</li>
                  <li>Energy Cost: <strike>544</strike> → 1275</li>
                  <li>Mass Cost: <strike>64</strike> → 150</li>
                  <li>Build Time: <strike>80</strike> → 127.5</li>
                  <li>Maintenace Cost: <strike>10</strike> → 20</li>
                  <li>Sonar Radius: <strike>115</strike> → 160</li>
                </ul>
              
              <img src="/images/cybrant1sonar.png"><b><u>Cybran</u></b>
                <ul>
                  <li>Energy Cost: <strike>544</strike> → 1275</li>
                  <li>Mass Cost: <strike>64</strike> → 150</li>
                  <li>Build Time: <strike>80</strike> → 127.5</li>
                  <li>Maintenace Cost: <strike>10</strike> → 20</li>
                  <li>Sonar Radius: <strike>115</strike> → 160</li>
                </ul>

              <img src="/images/serat1sonar.png"><b><u>Seraphim</u></b>
                <ul>
                  <li>Energy Cost: <strike>544</strike> → 1275</li>
                  <li>Mass Cost: <strike>64</strike> → 150</li>
                  <li>Build Rate: <strike>13.01</strike> → 14.08</li>
                  <li>Build Time: <strike>80</strike> → 127.5</li>
                  <li>Maintenace Cost: <strike>10</strike> → 20</li>
                  <li>Sonar Radius: <strike>115</strike> → 180</li>
                </ul>
              
            </div>

            <div id="t2sonar">
              <h2>Tech 2 Sonar</h2>

              <img src="/images/aeont2sonar.png"><b><u>Aeon</u></b>
                <ul>
                  <li>Health: <strike>1000</strike> → 800</li>
                  <li>Energy Cost: <strike>3600</strike> → 7200</li>
                  <li>Mass Cost: <strike>150</strike> → 300</li>
                  <li>Build Time: <strike>845</strike> → 1680</li>
                  <li>Sonar Radius: <strike>230</strike> → 290</li>
                </ul>

              <img src="/images/ueft2sonar.png"><b><u>UEF</u></b>
                <ul>
                  <li>Health: <strike>1400</strike> → 800</li>
                  <li>Energy Cost: <strike>3600</strike> → 7200</li>
                  <li>Mass Cost: <strike>150</strike> → 300</li>
                  <li>Build Time: <strike>845</strike> → 1680</li>
                  <li>Sonar Radius: <strike>230</strike> → 290</li>
                </ul>
              
              <img src="/images/cybrant2sonar.png"><b><u>Cybran</u></b>
                <ul>
                  <li>Health: <strike>625</strike> → 800</li>
                  <li>Energy Cost: <strike>3600</strike> → 7200</li>
                  <li>Mass Cost: <strike>150</strike> → 300</li>
                  <li>Build Time: <strike>845</strike> → 1680</li>
                  <li>Sonar Radius: <strike>230</strike> → 290</li>
                </ul>

              <img src="/images/serat2sonar.png"><b><u>Seraphim</u></b>
                <ul>
                  <li>Health: <strike>1000</strike> → 1400</li>
                  <li>Energy Cost: <strike>6000</strike> → 9600</li>
                  <li>Build Time: <strike>600</strike> → 2120</li>
                </ul>
            </div>

            <div id="t3sonar">
              <h3>Tech 3 Sonar</h3>

              <img src="/images/cybrant3sonar.png"><b><u>Cybran</u></b>
                <ul>
                  <li>HP: <strike>850</strike> → 1200</li>
                  <li>Maintenace Cost: <strike>700</strike> → 600</li>
                  <li>Radar Stealth Field Radius: <strike>70</strike> → 40</li>
                  <li>Sonar Stealth Field Radius: <strike>70</strike> → 40</li>
                </ul>
            </div>

          </div>

          <div id="sams" class="card">
            <h3><img src="/images/sam.png"> SAMS</h3>

            <p>SAMs have always had a disproportionate amount of hp for their cost, making them nearly invulnerable to raids. If you built a SAM it would stay there until you got pushed off the area entirely. This change will allow them to be raided, including by air-to-ground units and TML.</p>

            <ul>
              <li>HP: <strike>7000</strike> → 5000</li>
            </ul>
          </div>

          <div id="eco" class="card">
            <h3>Economy Structures</h3>

            <p>In the early game, the primary focus is on raiding expanding engineers. One engineer's death may have potentially devastating consequences. On the other hand, after the expansion phase is over it can be very difficult to find value with light raids. We'd like to encourage more interaction between players by increasing the damage potential of small raids after the expansion phase. </p>

            <p> Reducing Mex HP across the board should encourage raiding across most of the game. In particular, the T1 Mex HP reduction allows for T1 bombers to destroy them in just two passes, which should help them find  utility outside of their regular engineer-slaying duties. </p>

            <div id="massextracors">
              <h3>Mass Extractors</h3>

              <img src="/images/aeont1mex.png"><b><u>Tech 1</u></b>
              <ul>
                <li>Cybran: <strike>500</strike> → 360</li>
                <li>UEF: <strike>760</strike> → 400</li>
                <li>Aeon: <strike>600</strike> → 370</li>
                <li>Sera: <strike>650</strike> → 380</li>
              </ul>

              <img src="/images/serat2mex.png"><b><u>Tech 2</u></b>
              <ul>
                <li>UEF: <strike>2500</strike> → 2000</li>
                <li>Sera: <strike>2000</strike> → 1950</li>
              </ul>

              <img src="/images/ueft3mex.png"><b><u>Tech 3</u></b>
				    <p>
              T3 Mex hp is brought closer together and Cybran T3 Mex no longer die to a single TML
           </p><ul>
                <li>Cybran: <strike>6000</strike> → 6250</li>
                <li>UEF: <strike>9000</strike> → 7000</li>
                <li>Aeon: <strike>6200</strike> → 6500</li>
                <li>Sera: <strike>7000</strike> → 6750</li>
              </ul>

            </div>

            <div id="powergenerators">
              <h3>Power Generators</h3>
              
              <img src="/images/ueft1pgen.png"><b><u>Tech 1</u></b>
              <ul>
                <li>UEF: <strike>760</strike> → 600</li>
                <li>Aeon: <strike>600</strike> → 525</li>
                <li>Sera: <strike>650</strike> → 550</li>
              </ul>

              <img src="/images/cybrant2pgen.png"><b><u>Tech 2</u></b>
              <ul>
                <li>Cybran: <strike>1800</strike> → 2200</li>
                <li>Aeon: <strike>1900</strike> → 2300</li>
                <li>Sera: <strike>2000</strike> → 2400</li>
              </ul>

              <img src="/images/serat1pgen.png"><b><u>Seraphim Tech 1 Power Generator</u></b>
              <p> Make it so that the Seraphim tech 1 Power generator has the same consistency as all the others.</p>
              <ul>
                <li>Removed Death Animation</li>
              </ul>

            </div>

            <div id="massstorage">
              <h3><img src="/images/mstorage.png"> Mass Storage</h3>

              <ul>
                <li>Cybran: <strike>800</strike> → 600</li>
                <li>UEF: <strike>1200</strike> → 800</li>
                <li>Aeon: <strike>1000</strike> → 650</li>
                <li>Sera: <strike>1100</strike> → 700</li>
              </ul>
              
            </div>
			
      			<div id="energystorage">
              <h3><img src="/images/energystorage.png"> Energy Storage</h3>

              <ul>
                <li>Capacity: <strike>5000</strike> → 10000</li>
                <li>Storage Adjacency: Increased by x2</li>
              </ul>
          </div>

          </div>

        </div>

        <h2>ACU</h2>

        <div id="acu">

          <div id="aeonacu" class="card">
            <h3>Aeon ACU</h3>

            <p> The Aeon gun range upgrade is quite powerful with the current cost. We have split it to allow it to still be strong later but not oppressive in the game's t1/early t2 phase. This along with the OC nerf should make the Aeon gun com far less oppressive while still being viable.</p>

            <div id="range">
              <h3><img src="/images/Enhancements/aeon/range.png"> Range</h3>
              <ul>
                <li>Energy Cost: <strike>15000</strike> → 6000</li>
                <li>Mass Cost: <strike>500</strike> → 300</li>
                <li>Build Time: <strike>500</strike> → 350</li>
                <li>New Range: <strike>35</strike> → 30</li>
              </ul>

            </div>

            <div id="advrange">
              <h3><img src="/images/Enhancements/aeon/advanced range.png">Advanced Range</h3>
              <ul>
                <li>Requires First Range upgrade</li>
                <li>Energy Cost: 31000</li>
                <li>Mass Cost: 900</li>
                <li>Build Time: 1100</li>
                <li>New Range: 35</li>
              </ul>

            </div>

            <div id="chrono">
              <h3><img src="/images/Enhancements/aeon/chrono.png"> Chrono Dampener</h3>
              
              <p> The Chrono Dampener upgrade now adapts to your ACU gun range so depending on the ACU current range chrono will increase along with it. </p>
            </div>

          </div>

          <div id="uefacu" class="card">
            <h3>UEF ACU</h3>

            <div id="bubble">
              <h3><img src="/images/Enhancements/uef/bubbleshield.png"> Bubble Shield</h3>

              <p> This splits the shield upgrades so you decide whether to have the personal shield or the bubble shield </p>

              <b><u>Changes</u></b>
              <ul>
                <li>Split from Personal Shield</li>
                <li>Mass Cost: <strike>3600</strike> → 2300</li>
                <li>Energy Cost: <strike>450000</strike> → 112500</li>
                <li>Build Time: <strike>3400</strike> → 2100</li>
                <li>Maintenance Cost: <strike>500</strike> → 250</li>
                <li>Shield HP: <strike>36000</strike> → 9000</li>
                <li>Shield Regen Rate: <strike>42</strike> → 60</li>
                <li>Shield Recharge Time: <strike>175</strike> → 90</li>
                <li>Shield Size: <strike>16</strike> → 20</li>
              </ul>
            </div>

          </div>

          <div id="cybranacu" class="card">
            <h3>Cybran ACU</h3>

            <p> Cybran is especially reliant on Stealth for their combat ACU, so it gets some buffs as well as a much needed self-repair upgrade to lessen the impact of vision changes. </p>

        		<p> Maser gets a nerf to lessen the potential of maser + self-repair. </p>
              
            <ul>
              <li>Base Regen: <strike>15</strike> → 18</li>
            </ul>

            <div id="selfrepair">
              <h3><img src="/images/Enhancements/cybran/nano.png"> Self-Repair</h3>
              <ul>
                <li>Upgrade Path: Stealth → Self-Repair → Cloak</li>
                <li>Mass Cost: 1500</li>
                <li>Energy Cost: 45000</li>
                <li>Build Time: 1500</li>
                <li>Regen: 60</li>
                <li>HP: 1500</li>
              </ul>
            </div>

            <div id="cloak">
              <h3><img src="/images/Enhancements/cybran/cloack.png"> Cloak</h3>
              <ul>
                <li>HP: <strike>15000</strike> → 12000</li>
              </ul>
            </div>

            <div id="torp">
              <h3><img src="/images/Enhancements/cybran/torp.png"> Torp</h3>
              <ul>
                <li>Damage: <strike>250</strike> → 500</li>
                <li>Projectile Count: <strike>4</strike> → 2</li>
              </ul>
            </div>

            <div id="lazer">
              <h3><img src="/images/Enhancements/cybran/lazer.png"> Laser</h3>
              <ul>
                <li>DPS: <strike>4000</strike> → 3000</li>
              </ul>
            </div>

          </div>

          <div id="seraacu" class="card">
            <h3>Seraphim ACU</h3>

            <div id="advregenaura">
              <h3><img src="/images/Enhancements/sera/advancedregenfield.png"> Advanced Regen Aura </h3>

              <p> A long time ago the Base Regen Aura was updated from the base fa version of RegenPerSeconds and since then getting advanced regen aura was a downgrade so this is a small fix to make it so Advanced Regen Aura works as intended.</p>
              
              <ul>
                <li>RegenPerSecond <strike>0.01111111111</strike> → 0.035</li>
              </ul>
            </div>
          
          </div>

        </div>

        <h2>Mechanics</h2>

        <div id="mechanics">

          <div id="reactivation" class="card">
            <h3><img src="/images/orders/reactivation.png">Reactivation Time</h3>
            
            <p> How long does the structure take to work again after power stalling? Originally these values were all over the place and this is just to streamline and have it so each tech is the same. This applied to both Radar and Sonar.</p>

            <ul>
              <li>T1: 2 Seconds</li>
              <li>T2: 4 Seconds</li>
              <li>T3: 6 Seconds</li>
            </ul>
          </div>

          <div id="reclaim" class="card">
            <h3><img src="/images/orders/Reclaim_icon.png"> Reclaim</h3>

            <p> Reduce the amount of reclaim that units and structures leave behind based on their tech level. This is to promote aggression in the late game as attacking becomes less punishing when pushing into a base. </p>
            
            <ul>
              <li> Tech 1: 0.9 (81%)</li>
              <li> Tech 2: <strike>0.9 (81%)</strike> → 0.8 (72%)</li>
              <li> Tech 3: <strike>0.9 (81%)</strike> → 0.7 (63%)</li>
              <li> Experimental: <strike>0.9 (81%)</strike> → 0.6 (54%)</li>
            </ul>

            <p> We have increased the base reclaim modifier for naval wrecks to reduce the change to naval reclaim.</p>
            
            <ul>
              <li> Naval Base: <strike>0.5 (45%)</strike> → 0.6 (54%)</li>
            </ul>
          </div>

          <div id="torpedo" class="card">
            <h3><img src="/images/orders/mechanic.png"> Torpedo Interaction Overhall</h3>
            <h4>Torpedo bombers</h4>

            <p> All projectiles dropped by Torpedo Bombers now interact with anti-torpedo defences. This includes both the projectile-based and the flare-based anti-torpedo defences. All torpedo bombers drop their ordinance in a similar arc as strategic bombers. </p>

            <p> One exception is that when aiming, a torpedo bomber aims at the unit's current position instead of aiming where the unit is predicted to be when the projectile impacts. This is done to guarantee a valid firing solution so that all torpedo bombers will always drop their ordinance. </p>

            <p> Ordinance dropped by torpedo bombers have their velocity reset as they hit the water's surface. This prevents the projectile from immediately impacting the ocean floor when the water is too shallow. The projectile accelerates to full speed in about 3 to 4 seconds. </p>

            <h4>Torpedo behavior</h4>
            
            <p> All projectiles that are considered a torpedo have their properties standardized, with minor factional differences. They used to be all over the place. Roughly speaking: </p>
            
            <ul>
              <li> For all factions: each projectile has an acceleration range of 2, with a base acceleration of 5. As a result the acceleration of a projectile is any value between <3, 7>, This prevents the uncanny effect where multiple torpedoes follow the same trajectory. All projectiles have a minimum lifetime of 10 seconds, an ordinance from torpedo bombers has a minimum lifetime of 15 seconds </li>

              <li> UEF: each torpedo has a turn rate of 165 and a minor 'zig zag' factor. </li>
              
              <li> Cybran: each torpedo has a turn rate of 180 and a minor 'zig zag' factor. </li>
              
              <li> Aeon: each torpedo has a turn rate of 190 and a decent 'zig zag' factor. </li>
              
              <li> Seraphim: each torpedo has a turn rate of 200 and no 'zig zag' factor. </li>
            
            </ul>

            <h4>Flare-based torpedo defenses</h4>
            
            <p> All flare-based torpedo defences now have a maximum number of torpedoes that they can redirect. </p>

            <h4>Projectile-based torpedo defenses</h4>
            
            <p> All projectile-based torpedo defences act in a similar, smart fashion to tactical missile defences where they try to not overkill a single torpedo. </p>

            <h4>Other changes</h4>

            <p> Fixes all sorts of inconsistencies across the code base, including but not limited to: </p>
            
            <ul>
              <li>Wrong base class</li>
              <li>Lack of use of effects</li>
              <li>Improper use of effects</li>
              <li>Duplicated code across the hierarchy</li>
              <li>Missmatch of sound with several projectiles</li>
            </ul>
          </div>

          <div id="overcharge" class="card">
            <h3><img src="/images/orders/overcharge.png"> Overcharge</h3>
            
            <p> We want the player to have to make a conscious decision and sacrifice some eco to set up OC plays, instead of it being just a no-brainer that makes the ACU nearly all-powerful in the early game. </p>

            <ul>
              <li>Energy Required: <strike>5000</strike> → 7500</li>
              <li>Energy to Damage Ratio: <strike>4:1</strike> → 6:1</li>
            </ul>
          </div>

          <div id="vision" class="card">
            <h3><img src="/images/orders/vision.png"> Global Vision Change</h3>
            
            <p> If vision ranges are too short, then players lack the necessary information to make decisions in the game, thus reducing opportunities for skill expression. On the other hand, if vision ranges are too long, then even inattentive players will be able to react to threats easily long ahead of time, thus again reducing opportunities for skill expression. We feel that currently, the game is closer to the former category in the absence of radar, and more in the latter with radar. Buffing vision ranges, while leaving radars intact has several advantages:
              <br>
              <ul>
                <li> Allow players to react to threats within a small time window such as when raiding the enemy base. </li>
                <li> Avoiding circumstances in which units are unable to see what is attacking them. </li>
                <li> Allowing identification of important radar blips such as ACUs, exps or anti-air, before running head-first into them. </li>
              </ul>
            </p>

            <h4>Changes:</h4>
            
            <ul>
              <li>Vision radius: +15%</li>
              <li>This Exludes Scouts, Carriers, Atlantis, Tech 1 Arty</li>
            </ul>
          </div>

          <div id="vet" class="card">
            <h3><img src="/images/orders/mechanic.png"> Veterancy</h3>

            <p>Fix Some small blueprint errors where T4/T3 Arty and Nukes had not been updated to the correct Veterancy Multiplier.</p>
          </div>

        </div>

        <h2>Bug Fixes</h2>

        <div id="bugs" class="card">
            <h3>Bug Fixes</h3>

            <p> A Few Bug Fixes to some units.</p>
              
            <ul>
				      <li>Fixed Wailer losing half of its DPS when it uses its AA Weapons</li>
              <li>Fixed bug with Cybran Mass Extractor upgrade animations</li>
              <li>Fixed bug where you could get a refund on units built by a Mega</li>
				      <li>Fixed bug that allowed free shots from a Sera sniper bot by toggling between its firing modes</li>
            </ul>
        </div>

        <h2>Contributors</h2>

        <div class="card">
          <li>Terminal</li>
          <li>Farmsletje</li>
          <li>Tagada</li>
          <li>SpikeyNoob</li>
          <li>Rowey</li>
          <li>Blodir</li>
          <li>Turinturambar</li>
          <li>RabidPope</li>
          <li>Basilisk3</li>
          <li>Hdt80bro</li>
          <li>Jip</li>
          <li>4z0t</li>
          <li>Deribus</li>
          <li>Archsimkat</li>
        </div>

        <div class="backtotop">
          <button>
            <a class="toptext" href="#top">Back to Top</a>
          </button>
        </div>

      </div>
      
      <div class="sidebar">

        <div class="icongrid">
          <h2>Contents</h2>
          <br>

          Land
          <br />
          <a href="#spirit"><img src="/images/spirit.png"/></a>
          <a href="#rangebots"><img src="/images/mongoose.png"/></a>
          <a href="#deceiver"><img src="/images/deceiver.png"/></a>
          <a href="#t2amphib"><img src="/images/riptide.png"/></a>
          <a href="#t3amphib"><img src="/images/brick.png"/></a>
          <a href="#mml"><img src="/images/spearhead.png"/></a>
          <a href="#scathis"><img src="/images/scathis.png"/></a>
          <a href="#gc"><img src="/images/galacticcolossus.png"/></a>
          <br /><br />

          Navy
          <br />
          <a href="#frigate"><img src="/images/aeonfrigiate.png"/></a>
          <a href="#sub"><img src="/images/ueft1sub.png"/></a>
          <a href="#shard"><img src="/images/shard.png"/></a>
          <a href="#destroyer"><img src="/images/salem.png"/></a>
          <a href="#cruiser"><img src="/images/cybrancruiser.png"/></a>
          <a href="#cooper"><img src="/images/cooper.png"/></a>
          <a href="#carrier"><img src="/images/cybrancarrier.png"/></a>
          <a href="#battleship"><img src="/images/battleship.png"/></a>
          <a href="#atlantis"><img src="/images/atlantis.png"/></a>
          <a href="#tempest"><img src="/images/tempest.png"/></a>
          <br/><br/>

          Air
          <br />
          <a href="#elevations"><img src="/images/air.png"/></a>
          <a href="#transports"><img src="/images/cybrant2transport.png"/></a>
          <a href="#t1intie"><img src="/images/t1inti.png"/></a>
          <a href="#swiftwind"><img src="/images/swiftwind.png"/></a>            
          <a href="#acudrone"><img src="/images/acudrone.png"/></a>
          <a href="#drone"><img src="/images/kenneldrone.png"/></a>
          <a href="#mercy"><img src="/images/mercy.png"/></a>
          <a href="#torps"><img src="/images/torps.png"/></a>
          <a href="#strats"><img src="/images/cybranstrat.png"/></a>
          <br /><br />

          Structures
          <br />
          <a href="#t1torpdef"><img src="/images/ueft1torpdef.png"/></a>
          <a href="#t2torpdef"><img src="/images/aeont2torpdef.png"/></a>
          <a href="#harms"><img src="/images/harms.png"/></a>
          <a href="#t1sonar"><img src="/images/ueft1sonar.png"/></a>
          <a href="#t2sonar"><img src="/images/serat2sonar.png"/></a>
          <a href="#t3sonar"><img src="/images/cybrant3sonar.png"/></a>
          <a href="#sams"><img src="/images/sam.png"/></a>
          <a href="#massextracors"><img src="/images/aeont1mex.png"/></a>
          <a href="#powergenerators"><img src="/images/cybrant2pgen.png"/></a>            
          <a href="#massstorage"><img src="/images/mstorage.png"/></a>
          <a href="#energystorage"><img src="/images/energystorage.png"/></a>
          <br /><br />

          ACU
          <br />
          <a href="#range"><img src="/images/Enhancements/aeon/range.png"/></a>
          <a href="#advrange"><img src="/images/Enhancements/aeon/advanced range.png"/></a>
          <a href="#chrono"><img src="/images/Enhancements/aeon/chrono.png"/></a>
          <a href="#bubble"><img src="/images/Enhancements/uef/bubbleshield.png"/></a>
          <a href="#cybranacu"><img src="/images/cybrancom.png"/></a>
          <a href="#selfrepair"><img src="/images/Enhancements/cybran/nano.png"/></a>
          <a href="#cloak"><img src="/images/Enhancements/cybran/cloack.png"/></a>
          <a href="#torp"><img src="/images/Enhancements/cybran/torp.png"/></a>
          <a href="#lazer"><img src="/images/Enhancements/cybran/lazer.png"/></a>
          <a href="#advregenaura"><img src="/images/Enhancements/sera/advancedregenfield.png"/></a>
          <br /><br />

          Mechanics
          <br />
          <a href="#reactivation"><img src="/images/orders/reactivation.png"/></a>
          <a href="#reclaim"><img src="/images/orders/Reclaim_icon.png"/></a>
          <a href="#torpedo"><img src="/images/orders/mechanic.png"/></a>
          <a href="#overcharge"><img src="/images/orders/overcharge.png"/></a>
          <a href="#vision"><img src="/images/orders/vision.png"></a>
          <a href="#vet"><img src="/images/orders/mechanic.png"></a>
          <br /><br />

          Other
          <br />
          <a href="#bugs"><img src="/images/orders/mechanic.png"/></a>


        </div>

      </div>
    </main>    
  </body>
  <footer >
    <a href="./index.html">Back to Patchnote List</a>
    <p>© 2023 FAForever</p>
  </footer>
</html>
