<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>Game Patch 3760</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/patchnotes.css">
        <style>
            a {
                color: #fff;
                text-decoration: none;
            }
            a:hover {
                color: #c2a732;
                text-decoration: none;
            }
        </style>
    
    </head>

    <body>
        <table id="container">
            <tbody>
                <tr>
                    <td id="main">
                        <div id="intro">
                            <h1>Game Patch 3760</h1>
                            <p>See the patch notes of <a href="/game/3758.html">3758</a> for all the details of the second development iteration.</p>

                            <p>We would like to remind people that we're always open to feedback. You can get in touch with us through the forums, Discord and of course through GitHub to discuss the patch.</p>
                            
                            <p>With thanks to those that took the time to report bugs,</p>
                            
                            <p>-- Jip</p>
                        </div>
                                              
                        <h2>Bug Fixes</h2>
                        <div id="bugs" class="card">
                            <h3>Bug Fixes</h3>
                            <ul>
                                <li>Fix a bug with AI being buggy in the featured mod Nomads</li>
                                <li>Remove the rehost functionality</li>
                                <p>The rehost functionality has been broken for quite a long time. It would not properly restart the
                                    game with the correct mods and previously private lobbies would become public. We've not managed to
                                    fix it for quite some time and it confuses those who use it. Therefore we've decided to remove it
                                    until we can find a proper fix.</p>
                                <p>You can still 'rehost' the usual way, and in that case, your mods will work too.</p>
                                <li>Fix a bug with the Cybran destroyer being stuck in the transition animation</li>
                                <li>Fix a bug where abandoned armies would not be defeated</li>
                                <li>Fix a bug in the campaign/co-op where naval rally points were ignored</li>
                                <li>Fix a bug in the campaign/co-op where the army brain was missing certain functions</li>
                                <li>Fix a bug with the in-game file picker for replays</li>
                            </ul>
                        </div>

                        <h3>Contributors</h3>

                        <div id="contributors" class="card">
                            <ul>
                                <li>Jip</li>
                                <li>Relentor</li>
                            </ul>


                        </div>


                        <p style="height: 1000px"></p>
                    </td>
                    
                    <td id="sidebar">
                        <div id="icongrid">
                            <h2><u><a href="#container">Contents</a></u></h2>
                            <h4>1. <a href="#bugs">Bug Fixes</a></h4>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>